@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-Regular.ttf);
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.dark {
  background-color: #222;
}

.dark .hero {
  background: linear-gradient(to right, #fff 50%, #fac422 50%);
}

.dark .hero h1 {
  color: #000;
}

.dark .btn {
  color: #000;
}

.dark .cloud {
  background-color: #fff;
}

.dark .cloud_card h6,
.cloud_card p {
  color: #000;
}

.dark * {
  color: white;
}

.dark header {
  background-color: #444;
}

#moon {
  fill: #000;
}

.dark #moon {
  fill: #fff;
}

.dark .hero-text p {
  color: #57b8ff;
}

.dark .sponsor_text h2 {
  color: #fff;
}

.dark .articles {
  background-color: aliceblue;
}

.dark .articles_text h6 {
  color: #000;
}

.dark .articles_card h6 {
  color: #000;
}

.dark .articles__card h6,
.articles__card p {
  color: #000;
}

header {
  padding: 20px 0;
  background: #444;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  color: #fff;
  font-family: Orbitron;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  transition: 0.5s;
}

.nav-item:hover {
  color: #fac422;
}

a {
  text-decoration: none;
  color: #333;
}

.contact_nav {
  color: #fff;
  font-family: Orbitron;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  border: 1px solid #fff;
  padding: 16px 31px;
  transition: 0.5s;
}

.contact_nav:hover {
  border: 1px solid #fac422;
  color: #fac422;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

#dark-light {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* HERO SECTION */

main {
  background: #000;
}

.hero {
  background: linear-gradient(to right, #000000e0 50%, #57b8ff 50%);
}

.hero_cards {
  padding: 297px 60px 0;
  display: flex;
  position: relative;
}

.hero-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
}

.hero-text p {
  color: #57b8ff;
  font-family: Orbitron;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-family: Orbitron;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 86px; /* 119.444% */
  text-transform: capitalize;
}

.hero-par {
  color: #999;
  font-family: Orbitron;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin: 45px 0 53px;
}

.btns {
  display: flex;
  gap: 40px;
  margin-bottom: 250px;
}

.btn {
  color: #fff;
  font-family: Orbitron;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  padding: 21px 34px;
  transition: 0.4s;
}

.btn:hover {
  background: #57b8ff;
}

/* SPONSOR SECTION */

.sponsors {
  background: #fdd04a;
}

.sponsor_cards {
  padding: 0 60px 130px;
}

.sponsor_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sponsor_text h2 {
  color: #222730;
  text-align: center;
  font-family: Orbitron;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 120.833% */
  text-transform: capitalize;
  padding-top: 128px;
}

.sponsor_text img {
  padding-left: 80px;
}

.sponsor_text p {
  color: #555;
  text-align: center;
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 27px 377px 44px;
}

.sponsor_card {
  display: flex;
  justify-content: center;
  gap: 32px;
}

/*  GAMING SECTION */

.gaming {
  background-image: url(../images/your\ stop.png);
  background-size: cover;
}

.game {
  padding: 0 60px;
}

.game-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 136px;
}

.game-text {
  color: #57b8ff;
  text-align: center;
  font-family: Orbitron;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.game h3 {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 74px; /* 115.625% */
  text-transform: capitalize;
  padding: 22px 242px 0;
}

.sed-ut {
  color: rgba(223, 223, 223, 0.8);
  text-align: center;
  font-family: Orbitron;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding: 39px 251px 60px;
}

.game_cards {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  padding-bottom: 130px;
}

.game_card {
  max-width: 624px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  position: relative;
}

.game_card img {
  position: absolute;
  top: 35px;
  left: 38px;
}

.game_card h4 {
  color: #fff;
  font-family: Orbitron;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 131.25% */
  text-transform: capitalize;
  padding-top: 35px;
  padding-bottom: 19px;
  padding-left: 87px;
}

.game_card p {
  color: rgba(223, 223, 223, 0.8);
  font-family: Orbitron;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  padding-right: 39px;
  padding-bottom: 32px;
  padding-left: 87px;
}

/* CLOUD SECTION */

.cloud {
  background: #000;
}

.cloud_cards {
  display: flex;
  gap: 50px;
  padding: 0 60px;
}

.cloud-text {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-top: 123px;
  padding-bottom: 12px;
}

.cloud-text p {
  color: #57b8ff;
  font-family: Orbitron;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.cloud_card {
  padding-bottom: 123px;
}

.cloud_card h6 {
  color: #fff;
  font-family: Orbitron;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 74px; /* 115.625% */
  text-transform: capitalize;
}

.cloud_text {
  color: rgba(223, 223, 223, 0.8);
  font-family: Orbitron;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  padding: 38px 0 54px;
}

.btnn {
  margin-bottom: 123px;
}

.cloud_card1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GAMES SECTION */

.games {
  background: #000;
}

.games_main {
  display: flex;
}

.games_main h5 {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 120.833% */
  text-transform: capitalize;
  padding-bottom: 259px;
}

.games1 {
  width: 100%;

  background-image: url(../images/big\ img1.png);
  background-size: cover;
}

.games1 img {
  padding: 273px 176px 10px;
}

.games1 h5 {
  padding-bottom: 275px;
}

.games2 {
  width: 100%;

  background-image: url(../images/big\ img2.png);
  background-size: cover;
}

.games2 img {
  padding: 257px 176px 10px;
}

.games3 {
  width: 100%;

  background-image: url(../images/big\ img3.png);
  background-size: cover;
}

.games3 img {
  padding: 257px 176px 10px;
}

/* ARTICLES SECTION */

.articles {
  background-color: #000;
}

.articles-text {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 75px;
  padding-bottom: 12px;
}

.articles-text p {
  color: #57b8ff;
  font-family: Orbitron;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.articles_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles_text h6 {
  color: #fff;
  font-family: Orbitron;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 74px; /* 115.625% */
  text-transform: capitalize;
}

.articles_cards {
  padding-top: 64px;
  padding-bottom: 88px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.articles_card img {
  max-width: 648px;
}

.articles_card p {
  color: #57b8ff;
  font-family: Orbitron;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  margin-top: 54px;
  margin-bottom: 28px;
}

.articles_card {
  color: #fff;
  font-family: Orbitron;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 127.778% */
  text-transform: capitalize;
}

.articles_cont {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.articles__card p {
  color: #57b8ff;
  font-family: Orbitron;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  margin-top: 30px;
  margin-bottom: 20px;
}

.articles__card h6 {
  color: #fff;
  font-family: Orbitron;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 141.667% */
  text-transform: capitalize;
}

/* FOOTER */

footer {
  background-image: url(../images/com\ bacground.png);
  background-size: cover;
}

footer h6 {
  color: #141820;
  text-align: center;
  font-family: Orbitron;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 82px; /* 113.889% */
  padding-top: 126px;
}

footer img {
  margin-top: 5px;
  margin-left: 647px;
}

footer p {
  margin-top: 51px;
  color: #555;
  text-align: center;
  font-family: Orbitron;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 135px;
}

#mail {
  color: #555;
  text-align: center;
  font-family: Orbitron;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  padding: 21px 226px 21px 13px;
  outline: none;
}

form button {
  background: #57b8ff;
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  padding: 21px 7px 21px 8px;
  cursor: pointer;
  border: none;
}
